In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Ecommerce_Delivery_Analytics.csv", encoding='unicode_escape')

In [3]:
print(df)

        Order_ID Customer_ID Platform   Order_Time  Delivery_Time  \
0      ORD000001    CUST2824  JioMart  12:19:30 AM             30
1      ORD000002    CUST1409  Blinkit  12:54:30 AM             16
2      ORD000003    CUST5506  JioMart  12:21:29 AM             25
3      ORD000004    CUST5012  JioMart  12:19:30 AM             42
4      ORD000005    CUST4657  Blinkit  12:49:30 AM             30
...          ...         ...      ...          ...            ...
99995  ORD099996    CUST5324  JioMart  12:49:30 AM             24
99996  ORD099997    CUST1677  JioMart  12:18:30 AM             19
99997  ORD099998    CUST8198  JioMart  12:27:29 AM             41
99998  ORD099999    CUST9975  JioMart  12:14:29 AM             31
99999  ORD100000    CUST3748  JioMart  12:41:30 AM             34

          Product_Category  Order_Value  Service_Rating
0      Fruits & Vegetables          382               5
1                    Dairy          279               5
2                Beverages          599               2
3                Beverages          946               2
4                Beverages          334               5
...                    ...          ...             ...
99995                Dairy          289               3
99996               Snacks          322               4
99997                Dairy          135               5
99998              Grocery          973               5
99999  Fruits & Vegetables          453               3

[100000 rows x 8 columns]

In [4]:
df.shape

(100000, 8)

In [5]:
df.columns

Index(['Order_ID', 'Customer_ID', 'Platform', 'Order_Time', 'Delivery_Time',
       'Product_Category', 'Order_Value', 'Service_Rating'],
      dtype='object')

In [6]:
df.head()

,Order_ID,Customer_ID,Platform,Order_Time,Delivery_Time,Product_Category,Order_Value,Service_Rating
0,ORD000001,CUST2824,JioMart,12:19:30 AM,30,Fruits & Vegetables,382,5
1,ORD000002,CUST1409,Blinkit,12:54:30 AM,16,Dairy,279,5
2,ORD000003,CUST5506,JioMart,12:21:29 AM,25,Beverages,599,2
3,ORD000004,CUST5012,JioMart,12:19:30 AM,42,Beverages,946,2
4,ORD000005,CUST4657,Blinkit,12:49:30 AM,30,Beverages,334,5

In [7]:
df.tail()

,Order_ID,Customer_ID,Platform,Order_Time,Delivery_Time,Product_Category,Order_Value,Service_Rating
99995,ORD099996,CUST5324,JioMart,12:49:30 AM,24,Dairy,289,3
99996,ORD099997,CUST1677,JioMart,12:18:30 AM,19,Snacks,322,4
99997,ORD099998,CUST8198,JioMart,12:27:29 AM,41,Dairy,135,5
99998,ORD099999,CUST9975,JioMart,12:14:29 AM,31,Grocery,973,5
99999,ORD100000,CUST3748,JioMart,12:41:30 AM,34,Fruits & Vegetables,453,3

In [8]:
df.describe()

       Delivery_Time    Order_Value  Service_Rating
count  100000.000000  100000.000000   100000.000000
mean       29.536140     590.994400        3.240790
std         9.958933     417.409058        1.575962
min         5.000000      50.000000        1.000000
25%        23.000000     283.000000        2.000000
50%        30.000000     481.000000        3.000000
75%        36.000000     770.000000        5.000000
max        76.000000    2000.000000        5.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order_ID          100000 non-null  object
 1   Customer_ID       100000 non-null  object
 2   Platform          100000 non-null  object
 3   Order_Time        100000 non-null  object
 4   Delivery_Time     100000 non-null  int64
 5   Product_Category  100000 non-null  object
 6   Order_Value       100000 non-null  int64
 7   Service_Rating    100000 non-null  int64
dtypes: int64(3), object(5)
memory usage: 6.1+ MB

In [10]:
df.dropna(inplace=True)

In [11]:
pd.isnull(df).sum()

Order_ID            0
Customer_ID         0
Platform            0
Order_Time          0
Delivery_Time       0
Product_Category    0
Order_Value         0
Service_Rating      0
dtype: int64